.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.about-text{
    text-align: left;
    height: calc(100% - 50px);
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.about-desc{
    width: 70%;
    height: calc(100% - 50px);
    overflow: scroll;
}
.text-introduction, .bottom{
    text-align:justify;
}
.text-greetings{
    text-align: justify;
    font-size: 60px;
    color: var(--tertiaryText);
    display: block;
    margin-bottom: 15px;
    
}.main-desc{
    display: block;
    width: 90%;
    margin-inline-start: 10vw;
}
.main-text h1,h2,.descrip{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.main-text h1{
    padding-bottom: 10px;
    padding-top: 30px;
}
.main-text p{
    padding-top: 10px;
    margin-inline-start: 3vw;
}
.exp-items{
    padding-bottom: 15px;
}
.bottom{
    padding-top: 20px;
    font-size: 12px;
}
.scroll-container{
    display: none;
}
@media (max-width: 768px) {
    .about-container{
        display: block;
        height: 100%;
        overflow: scroll;
    }
    .main-desc{
        margin-inline-start: 0vw;
        width: 70%;
    }
    .about-text{
        width: 100%;
        padding: 0px;
        height: 100%;
    }
    .text-greetings{
        text-align: center;
        font-size: 50px;
    }
    .about-desc{
        width: 100%;
        height:auto;
        overflow: hidden;
    }
    .scroll-container{
        display: block;
        margin-top: 20px;
    }

  }
