*{
padding: 0;
margin: 0;
text-align: center;
text-decoration: none;
}
.navbar-container{
  padding: 30px;
  position: fixed;
  width: 100vw;
}

.navbar-container a {
  padding: 25px;
  
  }
  
.navbar-container a:hover {
    color: var(--tertiaryText);
    font-weight: bold;
  }
  
.navbar-container a.active {
    color: var(--tertiaryText);
    font-weight: bold;
  }
  