*{
padding: 0;
margin: 0;
text-align: center;
text-decoration: none;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.navbar-container{
  padding: 15px;
  position: fixed;
}

.navbar-container a {
  padding: 25px;
  color: var(--secondaryText);
  transition: color 0.3s;
  }
  
.navbar-container a:hover {
    color: var(--tertiaryText);
    font-weight: bold;
  }
  
.navbar-container a.active {
    color: var(--tertiaryText);
    font-weight: bold;
  }

  .navIcon{
    display: none;
  }
  

  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: center;
      bottom: 5vh;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
      border-radius: 20px;
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(5px);
    }
  
    .navbar-container a {
      padding: 10px;
      font-size: 30px;
      margin-inline-start: 5vw;
      color: #3a3434;
    }
    .navText{
      display: none;
    }

    .navIcon{
      display: inline;
    }
  }